@import "colors";
@import "global";
@import "animations";

header {
    #back {
        position: absolute;
        left: 34px;
        color: black
    }
}


h1 {
    font-family: "Shrikhand";
    font-weight: normal;
    white-space: nowrap;
}

h2 {
    text-transform: uppercase;
}

p {
    text-wrap: nowrap;
}

/*.description {
    overflow: hidden;
}*/

section.choix {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    /* Mettre un pourcentage ?*/
    max-width: 634px;
    /* Margin auto */
}

.titre {
    .ligne {
        width: 40px;
        height: 3px;
        background-color: $green;
    }
}

img.restaurant {
    height: 231px;
    width: 100%;
    object-fit: cover;
}

.carte {
    background-color: $grey3;
    width: 100%;
    max-width: 1055px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Inutile ?*/
    justify-content: stretch;
    padding: 40px 17px 40px 17px;
    gap: 40px;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
}

/* Faire pareil que pour les `choix`*/
#title-heart {
    width: 100%;
    max-width: 634px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.plat {
    /* Penser plutôt à margin auto ? (que pour left et right?)*/
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: stretch;

    &:hover {
        cursor: pointer;
        .like {
            width: 50px;
        }
    }
    
    .description {
        flex-shrink: 1;
        min-width: 10px;
        max-width: 100%;
        margin: 10px;

        p, h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .spacer {
        flex-grow: 1;
    }

    p {
        font-weight: 300;
    }

    .prix {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p {
            font-weight: 700;
        }
    }
    

    .like {
        width: 0px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $green;
        color: white;
        transition: width 0.2s ease-out;

        i {
            margin-left: 15px;
        }
    }
}


@media (min-width: 1024px) {
    #title-heart {
        width: auto;
        gap: 10px;
    }
}